:root {
  --purp: #98A8F8;
  --white: #FAF7F0;
  --lightpurp: #BCCEF8;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--purp);
}

.header {
  //margin: 10px;
  //border: 2px solid black;
  height: 75px;
  width: 100%;
  display: flex;
  background: var(--purp);
  //position: fixed;
}

.body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background: var(--purp);
  //border: 2px solid black;
  align-items: center;
  justify-content: center; 
}


.footer {
  opacity: 0;
  display: flex;
  //margin: 10px;
  border: 2px solid black;
  background: var(--purp);
  height: 75px;
  position: relative;
}

.responsetext {
  top: -30px;
  position: relative;
  color: black;
  font-size: 15px;
}


