.inputbox {
  //background: brown; 
  height: 200px;
  width: 1300px;
  display: flex;
  
  //top: 0; left: 0; bottom: 0; right: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //border: 2px solid black;
}

.regionmenu {
  display: flex;
  position: absolute; 
  //border: 2px solid var(--purp);
  background: var(--lightpurp);
  border-radius: 5px;
  margin-left: 425px;
  width: 75px;
  height: 35px;
  //align-items: center;
  justify-content: center;
  line-height: 30px;
  cursor: pointer;
}

.input {
  background: var(--white);
  //border: 2px solid (--white);
}





