.matches {
  display: flex;
  flex-direction: column;
  //border: 2px solid black;
  //background: #EBEEF1;
  align-items: center;
  width: 1200px;
  height: fit-content;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 0px;
  padding: 25px;
}
